.hero {
  background-color: $black;
  z-index: 1;
  position: relative;

  .profile-img,
  .hidden-img {
    top: 60px;
    right: 0px;
    position: absolute;
    z-index: 2;
    max-width: 620px;
    transform: translateX(30%);
  }
  .hidden-img {
    visibility: hidden;
    position: static;
  }

  .shape {
    background-color: $grayish-white;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 80%, 100% 69%, 100% 100%, 0% 100%);
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 80%, 100% 69%, 100% 100%, 0% 100%);
    background-color: rgba($color: $black, $alpha: 0.5);
    z-index: 3;
  }

  .text-content {
    padding: 30px 12px;
    color: white;
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    svg {
      fill: white;
    }
  }

  .hero-container {
    padding-top: 60px;
    position: relative;
  }

  a {
    text-decoration: none;
  }

  .wrapper {
    position: relative;
    bottom: 0px;
  }

  @include media-breakpoint-up(sm) {
    .profile-img,
    .hidden-img {
      transform: translateX(20%);
    }
  }

  @include media-breakpoint-up(lg) {
    .profile-img,
    .hidden-img {
      transform: translateX(10%);
    }
    .shape {
      padding-top: 60px;
      clip-path: polygon(0 0, 57% 0, 43% 100%, 0% 100%);
      width: 100%;
      height: 100%;
      background-color: $grayish-white;
      position: absolute;
    }

    .overlay {
      background-color: transparent;
    }

    .text-content {
      color: $black;
      top: 0;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }

    .social {
      flex-direction: row;
      margin-top: 120px;
      svg {
        height: 38px;
        width: 38px;
        fill: $black;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .profile-img,
    .hidden-img {
      transform: unset;
    }
  }
}
