.projectCard {
  .card-text {
    text-align: justify;
  }

  .card-link:hover {
    opacity: 0.95;
  }

  .card-image-container {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    img {
      visibility: hidden;
    }
  }
}
